* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* ---------------------------------------------------------------HEADER--------------------------------------------------------------- */

#logo {
    font-weight: 380;
    font-size: 1.3em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0vh 3vw 3vh 3vw;
    padding: 2vh 4vw 0 4vw;
    border-radius: 3vh;
}

header .containerNav1 {
    text-align: center;
    width: 10vw;
    padding: 2vh;
    cursor: pointer;
}

.containerNav1 a {
    color: white !important;
    text-decoration: none;
    font-size: 1.4vw;
    font-weight: 500;
    transition: all 0.3s ease-in-out;

    text-decoration: none;
    color: #000;
    position: relative;
}

.containerNav1 a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    /* Ajuste conforme necessário */
    width: 0;
    height: 2px;
    /* Ajuste conforme necessário */
    background-color: #fff;
    /* Cor da linha */
    transition: width 0.3s ease;
}

.containerNav1 a:hover::after {
    width: 100%;
}

@keyframes expand {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.containerNav1 a:hover::after {
    animation: expand 0.3s ease-in-out;
}


/* ---------------------------------------------------------------HOME--------------------------------------------------------------- */
.background {
    /* Necessário para o posicionamento do pseudoelemento */
    position: relative;
    height: 110vh;
    width: 100%;
    /* Garante que o pseudoelemento não exceda o container */
    overflow: hidden;
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/space.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(0.5px);
    /* Coloca a imagem atrás do conteúdo */
    z-index: -1;
}

.principal {
    /* Garante que o conteúdo principal fique acima do pseudoelemento */
    position: relative;
    /* Nível de sobreposição */
    z-index: 1;
    /* Garantia de que não tenha filtro aplicado */
    filter: none;
    border: none !important;

}

#home {
    justify-content: center;
    align-items: center;
    margin: 5vh 10vw 0 10vw;
    border-radius: 10vw;
    padding: 4vw;
    transition: all 0.3s ease-in-out;
}

#home:hover {
    transform: scale(0.9);
}

#home h1,
#home h2 {
    text-align: center;
    font-size: 6vw;
    font-weight: 300;
    color: white;

    /* EFEITO DE BRILHO */
    background: linear-gradient(135deg,
            rgb(162, 162, 162) 40%,
            #FFFFFF 20%,
            rgb(255, 255, 255) 80%);
    background-clip: text;
    -webkit-background-clip: text;
    /* Suporte para navegadores WebKit */
    color: transparent;
    animation: animated 5s linear infinite;
    background-size: 200% auto;
    /* Altera o tamanho do background para a animação */
}

@keyframes animated {
    0% {
        background-position: 200% 0;
    }

    40% {
        background-position: 100% 0;

    }

    80% {
        background-position: -100% 0;

    }

    100% {
        background-position: -200% 0;
    }
}

.containerNav2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6vh;
}

.containerNav2 a {
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 0 10vw;
    font-size: 2vw;
    padding: 2vh 4vw;
    border-radius: 6vh;
    background-color: #8b93b52f;
    transition: .2s linear;
}

.containerNav2 a:hover {
    transform: scale(0.8);
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.5), 0 0 40px 10px rgba(255, 255, 255, 0.3), 0 0 60px 15px rgba(255, 255, 255, 0.2);
    background-color: transparent;
}

/* Media Queries para telas menores */
@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        margin: 0vh 5vw;
        padding: 2vh 2vw;
        border-radius: 3vh;
    }

    #logo {
        font-weight: 380;
        font-size: 1.25em;
    }

    #sobre,
    #contato {
        display: none !important;
    }

    #sobre2 {
        display: flex !important;
    }

    header .containerNav1 {
        width: auto;
    }

    header a {
        font-size: 4vw;
    }

    #home {
        margin: 5vh 5vw 0 5vw;
        padding: 4vw;
        border-radius: 5vw;
        margin-top: 20vh;
    }

    #home h1,
    h2 {
        font-size: 10vw;
    }

    .containerNav2 {
        flex-direction: row;
        gap: 20px;
        margin-top: 8vh;
        margin-top: 15vh;
    }

    .containerNav2 a {
        margin: 2vh 2vw;
        font-size: 4vw;
        padding: 2vh 2vw;
        border-radius: 3vh;
        width: 20vh;

    }
}

/*------------------------------------------------------ ABOUT ------------------------------------------------------ */

#about {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #060918;
    border-bottom: 1px solid white;
}

#euMesmo {
    height: 100vh;
    width: 60vw;
}

.textAbout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    margin: 0 10vw;
    color: rgb(183, 183, 183);
    max-width: 592px;

}

.btnClass {
    text-align: center;
    margin: 1.5vw auto;
    color: white;
    width: fit-content;
    border-bottom: 1px solid white;
    padding: 0.3vw 1.86vh;
    font-size: x-large
}

#writingIntroduction {
    margin: 2.5vh 0;
    font-family: monospace;
    font-size: 2rem;
    border-right: 4px solid;
    width: 19ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 8s steps(38) 1s infinite, blinking 0.75s step-end infinite;
}

@keyframes typing {
    0% {
        width: 0;
    }

    45% {
        width: 19ch;
    }

    55% {
        width: 19ch;
    }

    100% {
        width: 0;
    }
}

@keyframes blinking {
    50% {
        border-color: transparent;
    }
}

#textIntroduction {
    font-family: monospace;
    font-size: 1.2rem;
}

#textMoreIntroduction {
    display: none;
    font-family: monospace;
    font-size: 1.2rem;
}

/* USADO PARA MOSTRAR CONTEUDO EXTRA DO ABOUT */
#textMoreIntroduction.show {
    display: block;
}

.btnVerMais {
    display: inline-block;
    text-align: center;
    font-size: 13px;
    margin: 1vh auto 0 auto;
    color: #fff;
    padding: 0.7vh 1.8vw;
    border: none;
    background-color: #8b8b8b6c;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btnVerMais:hover {
    background-color: #00b33081;
    transform: scale(1.05);
}

.btnVerMais:focus {
    outline: none;
}

.btnVerMais:active {
    transform: scale(0.9);
}



/* Media Queries para telas menores */

@media only screen and (max-width: 768px) {
    #about {
        flex-direction: column;
        height: 100vh;
    }

    /* DEIXAR DINAMICA FORMA DE MUDAR A ALTURA DA PÁGINA */
    #about.show {
        height: fit-content;
    }

    #euMesmo {
        display: flex;
        border-radius: 80%;
        height: 200px;
        width: 200px;
        margin: 5vh auto;
    }

    .btnClass {
        display: flex;
        margin: 0 auto;
    }

    #writingIntroduction {
        font-size: 1.5rem;
    }


    #textIntroduction {
        font-size: 1rem;
    }

    .btnVerMais {
        margin: 3vh auto;
    }

    #textMoreIntroduction {
        font-size: 1rem;
    }
}


/* ------------------------------- PROJETOS -------------------------------  */

#projetos {
    width: 100%;
    height: 100vh;
    background-color: #060918;
    color: white;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.btnClass2 {
    text-align: center;
    margin: 1.5vw auto;
    color: white;
    width: fit-content;
    border-bottom: 1px solid white;
    padding: 0.3vw 1.86vh;
    font-size: x-large
}

.projetosinformacao {
    text-align: center;
    font-size: 2rem;
    margin: 2.5vh 0;
    font-family: monospace;
}

#containerSlide {
    width: 50vw;
    margin: 0 auto;
}

#astronaut {
    display: flex;
    width: 20vw;
    margin: 0 auto;
}



/* -------SLIDER---------- */
.slide {
    font-family: "Verdana", sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.conteudo {
    width: 50vw;
}

.carrousel {
    display: grid;
    grid-auto-flow: column;
    gap: 1.2rem;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 10px;
    /* Adicionando uma transição suave */
    transition: scroll-behavior 0.5s ease;
}

.carrousel::-webkit-scrollbar {
    display: none;
}

.card {
    scroll-snap-align: start;
    border-radius: 30px;
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #001f3f;
    background-image: radial-gradient(#000000 0%, #001f3f 80%);
    color: #FFF;
    position: relative;
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://www.transparentpng.com/thumb/space/nebula-space-transparent-image-download-space-png-clipart-dgkez.png');
    /* Imagem de fundo do espaço */
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    /* Opacidade reduzida para efeito de sobreposição */
    border-radius: 30px;
    /* Mesmo raio de borda do cartão */
}

.card:nth-child(1) {
    background-image: url('../img/salvacarteiras.png');
    background-size: cover;
    background-position: center;
}

.card:nth-child(2) {
    background-image: url('../img/pokedex.png');
    background-size: cover;
    background-position: center;
}

.card:nth-child(3) {
    background-image: url('../img/Work-In-Progress.jpg');
    background-size: cover;
    background-position: center;
}

.card:nth-child(4) {
    background-image: url('../img/Work-In-Progress.jpg');
    background-size: cover;
    background-position: center;
}

.card:nth-child(5) {
    background-image: url('../img/Work-In-Progress.jpg');
    background-size: cover;
    background-position: center;
}


.mostrarHover {
    display: none;
    color: black;
    text-align: center;
    justify-content: end;
    align-items: end;
    margin: 100px 0 0 0;
    background-color: #cececec5;
    border-radius: 20px;
}

.mostrarHover a {
    text-decoration: none !important;
    color: purple;
}

.containerDetailHover {
    display: flex;
    margin: 0 65vh;
    gap: 10px;
    padding: 8px;
}

.btnClass3 {
    text-align: center;
    color: black;
    border: none;
    padding: 15px 30px;
    box-shadow: 1px 6px 10px black;
    justify-content: end;
    margin: 20vh 0 0 0;
    transition: .3s linear;
    background-color: whitesmoke;
    border-radius: 25px;
    cursor: pointer;
    z-index: 1;
}

.btnClass3:hover {
    background-color: #14a80c;
    color: white;
}


@media only screen and (max-width: 768px) {
    #containerSlide {
        width: 80vw;
        margin: 0 auto;
    }

    .conteudo {
        width: 90vw;
    }

    .card {
        min-height: 250px;
        min-width: 200px;
        border: none;
    }

    #astronaut {
        display: flex;
        width: 60vw;
        margin: 3vh auto;
    }

    .projetosinformacao {
        text-align: center;
        font-size: 2rem;
        margin: 0 0 3vh 0;
        font-family: monospace;
    }

    .containerDetailHover {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;

    }
}