* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

/* USADO PARA OCULTAR  AS BARRAS DE ROLAGEM*/
body::-webkit-scrollbar {
    display: none;
}

/* ---------------------------------------------------------------HEADER--------------------------------------------------------------- */

#logo {
    font-weight: 380;
    font-size: 1.3em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0vh 3vw 3vh 3vw;
    padding: 2vh 4vw 0 4vw;
    border-radius: 3vh;
}

header .containerNav1 {
    text-align: center;
    width: 10vw;
    padding: 2vh;
    cursor: pointer;
}

.containerNav1 a {
    color: white !important;
    text-decoration: none;
    font-size: 1.4vw;
    font-weight: 500;
    transition: all 0.3s ease-in-out;

    text-decoration: none;
    color: #000;
    position: relative;
}

.containerNav1 a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    /* Ajuste conforme necessário */
    width: 0;
    height: 2px;
    /* Ajuste conforme necessário */
    background-color: #fff;
    /* Cor da linha */
    transition: width 0.3s ease;
}

.containerNav1 a:hover::after {
    width: 100%;
}

@keyframes expand {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.containerNav1 a:hover::after {
    animation: expand 0.3s ease-in-out;
}


/* ---------------------------------------------------------------HOME--------------------------------------------------------------- */
.background {
    /* Necessário para o posicionamento do pseudoelemento */
    position: relative;
    height: 110vh;
    width: 100%;
    /* Garante que o pseudoelemento não exceda o container */
    overflow: hidden;
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/space.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(0.25px);
    /* Coloca a imagem atrás do conteúdo */
    z-index: -1;
}

.principal {
    /* Garante que o conteúdo principal fique acima do pseudoelemento */
    position: relative;
    /* Nível de sobreposição */
    z-index: 1;
    /* Garantia de que não tenha filtro aplicado */
    filter: none;
    border: none !important;

}

#home {
    justify-content: center;
    align-items: center;
    margin: 5vh 10vw 0 10vw;
    border-radius: 10vw;
    padding: 4vw;
    transition: all 0.3s ease-in-out;
}

#home:hover {
    transform: scale(0.9);
}

#home h1,
#home h2 {
    text-align: center;
    font-size: 6vw;
    font-weight: 300;
    color: white;

    /* EFEITO DE BRILHO */
    background: linear-gradient(135deg,
            rgb(162, 162, 162) 40%,
            #FFFFFF 20%,
            rgb(255, 255, 255) 80%);
    background-clip: text;
    -webkit-background-clip: text;
    /* Suporte para navegadores WebKit */
    color: transparent;
    animation: animated 5s linear infinite;
    background-size: 200% auto;
    /* Altera o tamanho do background para a animação */
}

@keyframes animated {
    0% {
        background-position: 200% 0;
    }

    40% {
        background-position: 100% 0;

    }

    80% {
        background-position: -100% 0;

    }

    100% {
        background-position: -200% 0;
    }
}

.containerNav2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6vh;
}

.containerNav2 a {
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 0 10vw;
    font-size: 2vw;
    padding: 2vh 4vw;
    border-radius: 6vh;
    background-color: #8b93b52f;
    transition: .2s linear;
}

.containerNav2 a:hover {
    transform: scale(0.8);
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.5), 0 0 40px 10px rgba(255, 255, 255, 0.3), 0 0 60px 15px rgba(255, 255, 255, 0.2);
    background-color: transparent;
}

/* Media Queries para telas menores */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        margin: 0vh 5vw;
        padding: 2vh 2vw;
        border-radius: 3vh;
    }

    #logo {
        font-weight: 380;
        font-size: 1.25em;
    }

    #sobre,
    #contato {
        display: none !important;
    }

    #sobre2 {
        display: inline !important;
    }

    header .containerNav1 {
        width: auto;
    }

    header a {
        font-size: 4vw;
    }

    #home {
        margin: 0vh 5vw 0 5vw;
        padding: 4vw;
        border-radius: 5vw;
        margin-top: 20vh;
    }

    #home h1,
    h2 {
        font-size: 10vw;
    }

    .containerNav2 {
        flex-direction: column;
        gap: 10px !important;
        margin-top: 8vh;
        margin-top: 10vh;
    }

    .containerNav2 a {
        margin: 2vh 2vw;
        font-size: 4vw;
        padding: 2vh 2vw;
        border-radius: 3vh;
        width: 20vh;

    }
}

@media (min-width: 769px)and (max-width:1366px) {
    #home {
        margin: 25vh 5vw;
        padding: 4vw;
        border-radius: 5vw;

    }
}

/*------------------------------------------------------ ABOUT ------------------------------------------------------ */

#about {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #060918;
    border-bottom: 1px solid white;
}

#euMesmo {
    height: 100vh;
    width: 60vw;
}

.textAbout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    margin: 0 10vw;
    color: rgb(183, 183, 183);
    max-width: 592px;

}

.btnClass {
    text-align: center;
    margin: 1.5vw auto;
    color: white;
    width: fit-content;
    border-bottom: 1px solid white;
    padding: 0.3vw 1.86vh;
    font-size: x-large
}

#writingIntroduction {
    margin: 2.5vh 0;
    font-family: monospace;
    font-size: 2rem;
    border-right: 4px solid;
    width: 19ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 8s steps(38) 1s infinite, blinking 0.75s step-end infinite;
}

@keyframes typing {
    0% {
        width: 0;
    }

    45% {
        width: 19ch;
    }

    55% {
        width: 19ch;
    }

    100% {
        width: 0;
    }
}

@keyframes blinking {
    50% {
        border-color: transparent;
    }
}

#textIntroduction {
    font-family: monospace;
    font-size: 1.2rem;
}

#textMoreIntroduction {
    display: none;
    font-family: monospace;
    font-size: 1.2rem;
}

/* USADO PARA MOSTRAR CONTEUDO EXTRA DO ABOUT */
#textMoreIntroduction.show {
    display: block;
}

.btnVerMais {
    display: inline-block;
    text-align: center;
    font-size: 13px;
    margin: 1vh auto 0 auto;
    color: #fff;
    padding: 0.7vh 1.8vw;
    border: none;
    background-color: #8b8b8b6c;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btnVerMais:hover {
    background-color: #00b33081;
    transform: scale(1.05);
}

.btnVerMais:focus {
    outline: none;
}

.btnVerMais:active {
    transform: scale(0.9);
}



/* Media Queries para telas menores */

@media (max-width: 768px) {
    #about {
        flex-direction: column;
        height: 100vh;
    }

    /* DEIXAR DINAMICA FORMA DE MUDAR A ALTURA DA PÁGINA */
    #about.show {
        height: fit-content;
    }

    #euMesmo {
        display: flex;
        border-radius: 80%;
        height: 21vh;
        width: 40vw;
        margin: 5vh auto;
    }

    .btnClass {
        display: flex;
        margin: 0 auto;
    }

    #writingIntroduction {
        font-size: 1.5rem;
    }


    #textIntroduction {
        font-size: 1rem;
    }

    .btnVerMais {
        margin: 3vh auto;
    }

    #textMoreIntroduction {
        font-size: 1rem;
    }
}

/* telas maiores */
@media (min-width: 769px)and (max-width:1366px) {
    #euMesmo {
        height: 60vh;
        width: 50vw;
        border-radius: 40%;
        margin: 15vh auto;
        transform: scale(0.8);
    }

    .textAbout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
        margin: 0 3.5vw;
        color: rgb(183, 183, 183);
        max-width: 592px;

    }
}

/* ------------------------------- PROJETOS -------------------------------  */

#projetos {
    width: 100%;
    height: 100vh;
    background-color: #060918;
    color: white;
    margin: 0;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
    padding-bottom: 3vh;
}

.btnClass2 {
    text-align: center;
    margin: 1.5vw auto;
    color: white;
    width: fit-content;
    border-bottom: 1px solid white;
    padding: 0.3vw 1.86vh;
    font-size: x-large
}

.projetosinformacao {
    text-align: center;
    font-size: 2rem;
    margin: 2.5vh 0;
    font-family: monospace;
}

#containerSlide {
    width: 50vw;
    margin: 0 auto;
}

#astronaut {
    display: flex;
    width: 20vw;
    margin: 0 auto;
}



/* -------SLIDER---------- */
.slide {
    font-family: "Verdana", sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    justify-content: center;
    align-items: center;
    color: #fff;
    display: flex;
}

.btnNext,
.btnPrevious {
    margin-left: 5px;
    font-size: 4vw;
    background: transparent;
    border: none !important;
    color: #FFF;
    cursor: pointer;
}

.btnPrevious {
    margin-left: 0;
    margin-right: 5px;
}

.btnNext:hover,
.btnPrevious:hover {
    transform: scale(1.2);
}

.conteudo {
    width: 50vw;
}

.carrousel {
    display: grid;
    grid-auto-flow: column;
    gap: 1.2rem;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 10px;
    /* Adicionando uma transição suave */
    transition: scroll-behavior 0.5s ease;
}

.carrousel::-webkit-scrollbar {
    display: none;
}

.card {
    scroll-snap-align: start;
    border-radius: 30px;
    max-height: 200px;
    height: 200px;
    max-width: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #001f3f;
    color: #FFF;
    position: relative;
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://www.transparentpng.com/thumb/space/nebula-space-transparent-image-download-space-png-clipart-dgkez.png');
    /* Imagem de fundo do espaço */
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    /* Opacidade reduzida para efeito de sobreposição */
    border-radius: 30px;
    /* Mesmo raio de borda do cartão */
}

.card:nth-child(1) {
    background-image: url('../img/salvacarteiras.png');
    background-size: cover;
    background-position: center;
}

.card:nth-child(2) {
    background-image: url('../img/pokedex.png');
    background-size: cover;
    background-position: center;
}

.card:nth-child(3) {
    background-image: url('../img/Work-In-Progress.jpg');
    background-size: cover;
    background-position: center;
}

.card:nth-child(4) {
    background-image: url('../img/Work-In-Progress.jpg');
    background-size: cover;
    background-position: center;
}

.card:nth-child(5) {
    background-image: url('../img/Work-In-Progress.jpg');
    background-size: cover;
    background-position: center;
}


.mostrarHover {
    display: none;
    color: black;
    text-align: center;
    justify-content: end;
    align-items: end;
    margin: 100px 0 0 0;
    background-color: #cececec5;
    border-radius: 20px;
}

.mostrarHover a {
    text-decoration: none !important;
    color: purple;
}

.containerDetailHover {
    display: flex;
    margin: 0 65vh;
    gap: 10px;
    padding: 8px;
}

.btnClass3 {
    text-align: center;
    color: black;
    border: none;
    padding: 15px 30px;
    box-shadow: 1px 6px 10px black;
    justify-content: end;
    margin: 20vh 0 0 0;
    transition: .3s linear;
    background-color: whitesmoke;
    border-radius: 25px;
    cursor: pointer;
    z-index: 1;
}

.btnClass3:hover {
    background-color: #14a80c;
    color: white;
}


@media (max-width: 768px) {
    #containerSlide {
        width: 80vw;
        margin: 0 auto;
    }

    .conteudo {
        width: 70vw;
    }

    .card {
        height: 250px;
        width: 200px;
        border: none;
    }

    #astronaut {
        display: flex;
        width: 40vw;
        margin: 3vh auto;
    }

    .projetosinformacao {
        text-align: center;
        font-size: 2rem;
        margin: 3vh 2vw;
        font-family: monospace;
    }

    .containerDetailHover {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    .btnNext,
    .btnPrevious {
        margin-left: 15px;
        font-size: 10vw;
        background: transparent;
        border: none !important;
        color: #FFF;
        cursor: pointer;
    }

    .btnPrevious {
        margin-left: 0;
        margin-right: 15px;
    }

    .btnClass3 {
        text-align: center;
        color: black;
        border: none;
        padding: 15px 30px;
        box-shadow: 1px 6px 10px black;
        justify-content: end;
        margin-bottom: 45px;
        transition: .3s linear;
        background-color: whitesmoke;
        border-radius: 25px;
        cursor: pointer;
        z-index: 1;
    }
}

@media (min-width: 769px)and (max-width:1366px) {
    #astronaut {
        display: flex;
        width: 40vw;
        margin: 3vh auto;
    }

    #carrousel {
        height: 20vh;
        margin: 0 auto;
    }

    .containerDetailHover {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

}

@media (min-width: 1367px) {
    .carrousel {
        height: 220px;
    }

}

/* ----------------------------------------------- FALE COMIGO ----------------------------------------------- */

#faleComigo {
    height: 100vh;
    width: 100%;
    background-color: #060918;
    padding-top: 1vw;
    font-family: monospace;
    color: white;
}

.btnClass4 {
    text-align: center;
    margin: 4vh auto;
    color: white;
    width: fit-content;
    border-bottom: 1px solid white;
    padding: 0.3vw 1.86vh;
    font-size: x-large;
}

.containerMensagemEForm {
    display: flex;
    flex-direction: flex;
    /* Alterado para coluna para dispositivos menores */
    gap: 10px;
    margin: 4vh 4vw 0 4vw;
}

.containerMensagem {
    display: flex;
    flex-direction: column;
    color: white;
    width: 55vw;
}

.mensagemPrincipal {
    font-size: 3rem;
    margin: 3vh 0;
    font-weight: 500;
}

.mensagemSecundaria {
    font-size: 1.4rem;
    margin: 0 0 0 2vw;
    font-weight: 200;
}

.containerForm {
    display: flex;
    flex-direction: column;
    /* Flex direction column for better mobile responsiveness */
    gap: 10px;
    margin: 0;
}

.containerForm form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 4vw 0 4vw;
}

.containerForm label {
    font-weight: 700;
    font-style: oblique;
}

.containerForm form input[type="text"],
.containerForm form input[type="email"],
.containerForm textarea {
    width: 29vw;
    background-color: transparent;
    color: white;
    box-shadow: 1px 1px 5px #FFF;
    border: none;
    margin-bottom: 10px;
    font-size: 1.2rem;
    padding: 6px;
}

.containerForm textarea {
    height: 23vh;
    padding: 10px;
    resize: none;
    user-select: none;
}

.containerForm button {
    color: white;
    background: green;
    border: none;
    padding: 4px;
    font-size: 1.1rem;
    width: 8rem;
    align-self: flex-end;
    border-radius: 20px;
    font-weight: 600;
}

.containerForm button:hover {
    color: white;
    font-weight: 800;
    background-color: #14a80c;
}

/* Media Queries para dispositivos móveis */

@media (max-width: 768px) {
    #faleComigo {
        height: fit-content;
        padding-bottom: 20px;
    }

    .containerMensagemEForm {
        display: flex;
        flex-direction: column;
        /* Alterado para coluna para dispositivos menores */
        gap: 10px;
        margin: 4vh 4vw 0 4vw;
    }

    .mensagemPrincipal {
        font-size: 2rem;
        width: 90vw;
        text-align: center;
    }

    .mensagemSecundaria {
        font-size: 1rem;
        width: 80vw;
        text-align: center;
        margin-bottom: 20px;
    }

    .containerForm form input[type="text"],
    .containerForm form input[type="email"],
    .containerForm textarea {
        width: 90%;
        max-width: 100%;
        font-size: 1rem;
    }

    .containerForm button {
        width: 100%;
        align-self: center;
        padding: 10px;
        font-size: 1rem;
    }


}

/* para telas maiores */
@media (min-width: 769px)and (max-width:1366px) {
    #faleComigo {
        height: 80vh;
        padding-bottom: 20px;
    }

    .containerMensagemEForm {
        margin-top: 200px;
    }
}

@media (min-width: 1367px) {
    .carrousel {
        height: 220px;
    }

    .containerMensagemEForm {
        margin-top: 260px;
    }

}

/* ---------------------------------------------- FOOTER ---------------------------------------------- */

footer {
    background-color: #010204;
    color: white;
    text-align: center;
    padding: 10px 40px;
    font-size: 1.1rem;
    font-family: monospace;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Certifica-se de que o conteúdo está centralizado verticalmente */
    margin: 0;
    user-select: none;
}

#logo2 {
    font-weight: 380;
    font-size: 1.2em;
}

#redesSociais {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    /* Espaçamento entre os ícones */
    justify-content: center;
    /* Centraliza os ícones */
}

.redeSocial {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    text-decoration: none;
    color: inherit;
}

.redeSocial svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
}

.redeSocial:hover svg {
    fill: #3c4987;
}

.copyrite {
    display: flex;
    justify-content: start;
    align-items: start;
}


/* Para dispositivos móveis (smartphones) */
@media (max-width: 768px) {
    #logo2 {
        display: none;
    }

    footer {
        background-color: #010204;
        color: white;
        text-align: center;
        padding: 10px 40px;
        font-size: 1.1rem;
        font-family: monospace;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* Certifica-se de que o conteúdo está centralizado verticalmente */
        user-select: none;
        gap: 10px
    }
}

/* BTN PRA SUBIR */
.seta {
    display: none;
    background-color: white;
    border-radius: 60px;
    position: fixed;
    padding: 10px;
    top: 78%;
    right: 2%;
    font-weight: 800;
    font-size: 1.5rem;
    width: 10px;
    cursor: pointer;
    z-index: 2
}